[Desktop Entry]
Name=DocSession
Exec=/home/ryan/Desktop/docs-session 
Icon=/usr/share/icons/ubuntu-mono-light/apps/24/gnome-do-symbolic.svg 
Type=Application
Terminal=false

# Modified from /usr/share/applications/*.desktop
# documentation: 
# code:  /usr/share/icons/ubuntu-mono-light/apps/24/gsd-xrandr.svg 
# terminator --layout=mylayout
